@font-face {
font-family: 'Raleway';
src: url('../fonts/Raleway-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Raleway';
src: url('../fonts/Raleway-Bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}

.modal-lg{
    min-width: 90%;
}

.modal-title{ 
    padding-bottom: 10px;
}

button.close span{font-size: 2em;}

.modal pre { 
    background-color: #333;
    border: 2px solid black;
    color: #6ffb75;
    font-size: 1.1em;
}

div.outer-container{ 
    background-color: dimgray;    
    background: url('../images/gray_sand.png');
    overflow: auto;
}


div.wrapper, div.modal{ 
    font-family: 'Raleway', sans-serif; font-size: 16px; color: #444;
}

div.wrapper{ padding-top: 30px; }


div.footer{
    margin: 20px auto;
    padding-left: 16px;
    font-size: 1.1em;
    color: #eee;
}


div.heading-info a, div.heading-info span{
    display: block;
    text-align: right;
    color: #555;
    font-weight: bold;
}

div.heading-info a:hover{
    text-decoration: none;
    color: teal;
}

div.heading-info a:focus{
    text-decoration: none;
}

div.panel-default{ 
    border: 1px solid teal;
}

div.panel-body{ 
    overflow: auto;
    background: url('../images/cream_pixels.png');
    /*overflow-y: auto;*/
}

div.panel-default > div.panel-heading{
    border-bottom: 1px solid teal;
}

div.panel-body .row{
    margin: 0 20px;
}

div.panel h1, div.panel h2{ 
    margin: 20px 34px;
}

div.panel-heading h1{
    color: #555;
    font-size: 2.5em;
}

div.panel-body h2{
    color: teal;    
}


div.content-square-outer{
    /*background-color: green;*/
    height: 100%;
    position: relative;
    margin-bottom: 50px;
}

div.panel-body div.row{
    height: 256px;
}


span.title{
    display: block;
    height: 50px;
    position: absolute;
    top: 204px;     
    width: 100%;
    text-align: center;
    line-height: 4em;
    font-weight: bold;
    background-color: #fff;
    color: teal;
    border-bottom: 2px solid teal;
    overflow: hidden;
}

div.content-square-inner{
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    border: 1px solid #ccc;
}

div.content-square-inner:hover{
    /*border: 1px solid teal;*/
}

div#gol-square{    
    background: url(../images/gol-animated-all.gif) no-repeat center top;
    background-color: #fff;
    background-size: 100%;
}

div#mahjong-square{    
    background: url(../images/mahjong-animated.gif) no-repeat center top;    
    background-color: #fff;
    background-size: 100%;
}

div#slapjack-square{    
    background: url(../images/slapjack-animated-2.gif) no-repeat center top;
    background-size: 100%;      
    background-color: #fff;
}

div#winebottle-square{    
    background: url(../images/winebottle.PNG) no-repeat center top;
    background-size: 100%;
    background-color: #fff;
}

div#zaamg-square{    
    background: url(../images/zaamg.PNG) no-repeat center top;
    background-size: 100%;
    background-color: #fff;
}

div#mixedup-square{    
    background: url(../images/mixedup.PNG) no-repeat center top;
    background-size: 100%;
    background-color: #fff;
}

div#database-square{    
    background: url(../images/database.PNG) no-repeat center top;
    background-size: 100%;
    background-color: #fff;
}

div#afaf-square{    
    background: url(../images/afaf.PNG) no-repeat center top;
    background-size: 100%;
    background-color: #fff;
}

span.color-highlight{
    color: rgba(9, 177, 9, 1);
}

div#gol-square:hover,
div#gol-square:hover span,
div#mahjong-square:hover,
div#mahjong-square:hover span,
div#slapjack-square:hover,
div#slapjack-square:hover span,
div#mixedup-square:hover,
div#mixedup-square:hover span,
div#winebottle-square:hover,
div#winebottle-square:hover span,
div#database-square:hover,
div#database-square:hover span,
div#zaamg-square:hover,
div#zaamg-square:hover span,
div#afaf-square:hover,
div#afaf-square:hover span
{
    background-color: #edf5f5;
    background-color: #eaecec;
    background-color: #efebeb;
    cursor: pointer;
}

div#gol-square:hover,
div#mahjong-square:hover,
div#slapjack-square:hover,
div#mixedup-square:hover,
div#winebottle-square:hover,
div#database-square:hover,
div#zaamg-square:hover,
div#afaf-square:hover,
{
    /*border: 1px solid teal;*/
}
