#main_container{
    width: 80%;
    margin: auto;
}


div#label{
    background-color: #e9e9e9;
    width:70%;
    margin: 20px 20px 20px 0px;
    padding-left: 40px;
    padding-right: 40px;
}

 table.cancelFees{
                border-collapse: collapse;
                border: 1px solid lightgrey;
                width: 100%;
                font-size: 1em;
            }

            table.cancelFees td{
                padding: 0px 8px;
            }
            table.cancelFees td:first-child{
                text-align: right;
            }

            table.cancelFees td:last-child{
                padding-left: 10%;
                width: 55%;
            }
            table.cancelFees tr:first-child{
                border-bottom: 1px solid lightgrey;
                vertical-align: top;
            }
            .italic{
                font-style:italic;
            }

            table.eventsAndActions {
                table-layout: fixed;
                width: 100%;
                margin:auto;
                border-collapse: collapse;
                margin-bottom: 2%;
            }
            table.eventsAndActions  td{
                padding-left: 3%;
                max-width: 33%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            table.eventsAndActions tr:first-child{
                border-bottom: 1px solid lightgrey;
            }
